{% extends 'base.html' %}
{% load static %}
	

{% block start %}
	
	
	<main class="middle_task">
		<section class="task-list middle_task">
			<h2>Edit Todo Here</h2>

			<div id="tasks">
                <br>

				<form method="POST" action="">
                    {% csrf_token %}
                <div class="task">
					<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" {% if main.is_completed == True %} checked {% endif %} />
					<div class="content">
						<input 
							type="text" 
							class="text" 
							value="{{main.task_data}}"
                            name="task_edit"
							>
					</div>
					<div class="actions">
						<button class="edit" type="submit">Edit</button>
						
					</div>
				</div>
            </form>
				


			</div>
		</section>
	</main>

	{% endblock %}