<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TODO APP</title>

	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link>
    <style>
        .middle_task{
            /* border: 2px solid white;  */
            margin-top: 90px;
            box-sizing: border-box;
           
        }



    </style>
</head>
<body>
	
	
	<main class="middle_task">
		<section class="task-list middle_task">
			<h2>Edit Todo Here</h2>

			<div id="tasks">
                <br>

				<form method="POST" action="">
                    {% csrf_token %}
                <div class="task">
					<div class="content">
						<input 
							type="text" 
							class="text" 
							value="{{main.task_data}}"
                            name="task_edit"
							>
					</div>
					<div class="actions">
						<button class="edit" type="submit">Edit</button>
						
					</div>
				</div>
            </form>
				


			</div>
		</section>
	</main>

	<!-- <script src="main.js"></script> -->
</body>
</html>