{% extends 'base.html' %}
{% load static %}


{% block start %}

<div class="row  pt-5">
    
    <div class="col-lg-12 col-md-12 col-sm-6 d-flex justify-content-center align-items-center pt-5">

        <form method="POST" action="">
            
            <h1 class="register">Register User</h1><br>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            {% csrf_token %}
            {% include 'msg.html' %}
            <div class="row mb-4">
                
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="form3Example1" class="form-control text-light bg-transparent" name="first_name" />
                        <label class="form-label text-light" for="form3Example1">First name</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="form3Example2" class="form-control text-light bg-transparent" name="last_name" />
                        <label class="form-label text-light" for="form3Example2">Last name</label>
                    </div>
                </div>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control text-light" name="email" />
                <label class="form-label text-light" for="form3Example3">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control text-light" name="password" />
                <label class="form-label text-light" for="form3Example4">Password</label>
            </div>



            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
            <p class="text-center  mt-5 mb-0">Have already an account? <a href="{% url 'signin' %}"
                class=""><u>Login here</u></a></p>
        </form>
    </div>
</div>













{% endblock %}